#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Exec=xye
Type=Application
Categories=Application;Game;PuzzleGame
Name=Xye
GenericName=Xye
Comment=Solve puzzles and action challenges in order to get all the gems in the room.
Terminal=false
StartupNotify=false
Icon=xye.png
MimeType=application/xye-xml
