[Desktop Entry]
Exec=xye
Type=Application
Categories=Application;Game;
Name=Xye
GenericName=Xye
Comment=Solve puzzles and action challenges in order to get all the gems in the room.
Terminal=false
StartupNotify=false
Icon=xye
Keywords=game;puzzle;logic;gems;
MimeType=application/xye-xml
